<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registrado</title>
    <meta name="description" content="Registro para los donadores de sangre.">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body style="font-family: 'Lato','Arial', sans-serif">
        <div class="container">
                <div class="row">
                    <div class="col-md-10 offset=md-1">
                        <div class="row">
                            <div class="col-md-5 register-left animated fadeInLeft">
                                <img src="ugto.png">
                                <h3 class="mb-3">Donadores de Sangre</h3>
                            </div>
                            <div class="col-md-7 register-right">
                                <div class="title-form">
                                    <h2>¡Registro exitoso!</h2>
                                    <ul>
                                        <li>¡Listo <%= data.first_name %>! Tu cita quedó agendada para el <b><%= data.date %> a las <%= data.hour %></b></li>
                                        <li>Te hemos enviado un correo a <b><%= data.email %></b> con los datos de tu cita con el <b>código QR</b> para la validación de tu donación de sangre.</li>
                                        <li>Revisa tu carpeta de <b>no deseados/spam</b> en caso de no encontrar el correo.</li>
                                        <li>Te recomendamos leer antes esta información días antes de ir a tu cita: <a href="http://www.donarsangre.org/informacion-basica-para-donantes/" target="_blank">haz click aquí.</a></li>
                                        <li>Tu código QR (NUA: <span id="NUA"><%= NUA %></span>):</li>
                                        <li class="animated rubberBand" style="text-align: center; margin: 0"><div id="qrcode" style="display: inline-block; width: 180px; height: 180px; margin-bottom: 10px;"></div></li>
                                    </ul>

                                    <br>
                                    <p class="centerText" style="font-size: 20px;"><b>Desarrolladores</b></p>
                                    <div class="centerText" style="margin-bottom: 20px">
                                        <a href="https://www.facebook.com/oscar.lolero" target="_blank">Oscar Montes Camberos</a>
                                        <br>
                                        <a href="https://www.facebook.com/SoyJorgeRazo" target="_blank">Jorge Octavio Prieto Razo</a>
                                        <br>
                                        <a href="https://www.facebook.com/JacquesPa" target="_blank">Diego Padilla Quijas</a>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</body>

<script src="js/qrcode.min.js"></script>
<script>
    let qrcode = new QRCode('qrcode', {
        width: 180,
        height: 180,
        colorDark : "#000000",
        colorLight : "#ffffff",
    });
    qrcode.makeCode(document.getElementById('NUA').innerHTML);
</script>
</html>