<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registrado</title>
    <meta name="description" content="Registro para los donadores de sangre.">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
        <div class="container">
                <div class="row">
                    <div class="col-md-10 offset=md-1">
                        <div class="row">
                            <div class="col-md-5 register-left">
                                <img src="ugto.png">
                                <h3>Donadores de Sangre</h3>
                            </div>
                            <div class="col-md-7 register-right">
                                <div class="register-form">
                                    <h2>¡Registro Éxitoso!</h2>
                                    <ul>
                                        <li>Hola <%= data.first_name %>, tu cita quedó agendada para el <%= data.date %> a las <%= data.hour %></li>
                                        <li>Te enviamos un correo a <%= data.email %> con los datos de tu cita y el código QR para la validación de tu donación de sangre.</li>
                                        <li>Revisa tu carpeta de No deseados / Spam.</li>
                                        <li>Código QR (NUA: <span id="NUA"><%= NUA %></span>):</li>
                                        <li><div id="qrcode" style="width: 160px; height: 150px; margin-bottom: 10px"></div></li>
                                    </ul>

                                <br>
                                <p><b>Desarrolladores:</b></p>
                                <ul>
                                    <li>Oscar Montes Camberos</li>
                                    <li>Jorge Octavio Prieto Razo</li>
                                    <li>Diego Padilla Quijas</li>
                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</body>

<script src="js/qrcode.min.js"></script>
<script>
    let qrcode = new QRCode('qrcode', {
        width: 160,
        height: 160,
        colorDark : "#000000",
        colorLight : "#ffffff",
    });
    qrcode.makeCode(document.getElementById('NUA').innerHTML);
</script>
</html>